/* Main CSS file */

/* Most of the Media queries are done within the bootstrap file (screen.css)
and in the html with the col-sm-4 classes */

/*Set all container-fluid to have a lightblue background and a padding-bottom of 5px */
.container-fluid {
  background-color: lightblue;
  padding-bottom: 1px;
}

/*Default styles for each of the sections (home,about,illustrations)*/
#home{
	padding-top:50px;
	height:100%;
}
#about{
	padding-top:50px;
	height:100%;
	margin-bottom:100px;
}
#illustrations{
	padding-top:50px;
	height:100%;
}

/* Setting the page header to have a padding-top and font-family of 'Contrail One' */
.page-header {
	padding-top:40px;
 	font-family: 'Contrail One';
 	background-color:lightyellow;
 	
 }
/* Used to colour the text red and change it to size 25px*/
.info{
	color:red; 
	font-size:25px;
}

/* Styles for the images in the 'illustration' section to link with the JS */
.crop-img{
	max-height:150px;			
	max-width: 100%;
	margin-bottom: 10px;
}

.large-img{
	max-width: 100%;
	margin-top: 10px;
}


/* CSS for the about me section which links to the JS*/ 
.aboutmescroll-thumbnail {
  margin-top: 10px;   
  white-space : pre;  
  overflow : hidden;  
  max-height: 150px;  
  height : 150px;     
  border-radius: 1px;
  background-color:lightyellow;
}

#mainViewer {
  margin-top: 10px;   
  white-space : pre; 
  background-color:lightyellow;
}